.container-grid{
    display: grid;
    grid-template-areas:
    'header header header header'
    'nav            nav          nav          nav'
    ' main          main         main         aside'
    ' main          main         main         aside'
    ' main          main         main         aside'
    ' footer   footer   footer  footer';
    background-color: #2196F3;
    gap: 10px;
   padding: 10px;
}

.container-grid div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .container-grid__header{
    grid-area: header;
  }
  
.container-grid__nav{
    height: 50px;
    grid-area: nav;
}

.container-grid__main{
    grid-area: main;
    height: 100vh;
}

.container-grid__aside{
    grid-area: aside;
}

.container-grid__footer{
    grid-area: footer;
}

